@charset "utf-8";
/* CSS Document */
li{list-style:none;}
ul {padding: 0;}
.yw-spectrum1{ border:3px solid #fff; border-radius:50%;}
.boxShadow {background: #fff none repeat scroll 0 0; box-shadow: 0 0 5px #cccccc; }
.yw-topic{ margin-top:6px; padding-top:28px; padding-bottom:13px;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.yw-topic1{ display:block; width:80%; margin-left:15%; text-align:center; margin-top:6px; margin-bottom:6px; background:#253A4B; border-radius:3px;}
.yw-topic2{ margin-top:6px; line-height:24px; margin-bottom:6px; color:#04223A;}
.yw-box{ background:url(../image/yw-box.png) repeat-x; padding-bottom:33px; position:fixed; bottom:0px; z-index:9999; width:100%;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.popover {max-width: 5000px; position: static; z-index: 0; background:url(../image/yw-topic1.png) repeat; } 
.popover.bottom>.arrow {top: 0; } .data-content {display:none;} 
#login-bg .popover.bottom>.arrow:after {border-bottom-color: transparent; } 
.toggle {display: block; position: absolute; top: -26px; left: 47.5%; width: 76px; height: 26px; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3; } 
.kp_top {background: url(../image/bottom.png) no-repeat #000; } 
.kp_bottom {background: url(../image/top.png) no-repeat #000; }

.yw-hot{ background:url(../image/yw-hot.jpg) no-repeat top center; height:63px;}
.yw-submit{ background:#F7F7F7; color:#676767; margin-left:3px;}
.topic{ padding-top:24px; padding-bottom:15px;}
.install{ background:url(../image/yw-install.png) no-repeat top center;}
.install dl{ float:left; padding-top:60px;}
.install dl dt{ text-align:center;}
.install dl dd{ font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; color:#4c4c4c; line-height:36px;}
.yw-Focus2{ text-align: center; margin-bottom: 10px;}
.yw-Focus2 span{background:#F4F4F4; width:100%; color:#A5A5A5; display:inline-block; line-height:24px; border:1px solid #DEDEDE; padding-left:13%;}
.yw-Focus2 span img{ margin-left:10%;}
.yw-Focus2 span a { float:right; margin-right: 10px; }
.yw-Focus1{ text-align:right; font-size:18px; color:#525252;}
.yw-Focus3 span{background:#F4F4F4; width:100%; color:#A5A5A5; display:inline-block; line-height:24px; border:1px solid #DEDEDE; padding-left:30%;}
.yw-Focus3 span img{ margin-left:30%;}
.management{ background:#F6F6F4; margin-top:27px; padding:15px;}
.management1{ padding-left:15px; padding-right:15px; padding-bottom:15px;}
.col-xs-3{ padding:0px;}
.management2{ padding-left:15px; padding-right:15px;}
.steps1{ width:30%; background:#333436; color:#fff; line-height:36px;}
.steps{ margin-top:15px;}
.steps2{ width:30%; line-height:36px;}
.note{ text-align:center; line-height:36px; font-size:12px; color:#8e8e8e; margin-top:42px;}
.gather{ background:url(../image/gather.jpg) no-repeat top center; text-align:center; padding-top:44px; padding-bottom:45px;}
.link{ background:url(../image/gather.jpg) no-repeat top center; padding-top:43px;}
.link a{ color:#000100; padding-right:35px; padding-left:2px;}
.portrait img{ border:1px solid #DEDEDE;}
.portrait1{ margin-top:27px;}
.information h3{ font-size:18px; font-family:"Î¢ÈíÑÅºÚ"; color:#5b5b5b; background:url(../image/information.png) repeat-x; line-height:28px;}
.information h3 span{ padding-left:1%; padding-right:1%; padding-top:12px; display:inline-block; float:left}
.information h3 img{ float:left;}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
.information1{ font-size:14px; font-family:"ËÎÌå"; font-weight:bold; line-height:34px;}
.nan{ width:10%;}
.nv{ width:10%; margin-left:1%;}
.birthday{ width:17%; float:left; margin-right:2%; height:28px; line-height:28px; padding:3px 12px;}
.school{ width:40%; float:left; margin-right:2%;}
.birthday1{ float:left; width:40%; margin-right:2%;}
.school1{ padding-bottom:7px;}
.sub{ width:42%; background:#333436; color:#fff;}
.bu{ width:42%; margin-left:1%;}
.school2{ margin-top:40px;}
.page {margin: 15px auto;}
.page a {margin: 0 4px;  padding: 2px 9px; display: inline-block; border: 1px solid #ccc;}
.page .current {color:red; padding: 0; border: none;}


.homepage1{ background:url(../image/homepage.png) no-repeat;}
.homepage1 img{ padding:12px;}
.homepage{ padding-top:27px;}
.fans{ margin-top:2px;}
.fans p{ width:43%; text-align:center; float:left; font-family:"宋体"; font-size:12px; color:#AFAFAF;}
.fans p span{ display:block; font-family:"微软雅黑"; font-size:16px; color:#000;}
.fans p.no{ border-right:1px solid #DFDFDF;}
.Introduction{ padding-top:27px;}
.name{ line-height:36px; font-size:26px; color:#444;}
.nan1{ font-size:12px; color:#aeaeae; margin-right:1%;}
.location{ background:url(../image/location.png) no-repeat left center; font-size:12px; padding-left:2%;font-size:12px; color:#aeaeae;}
.visual{ color:#808080; font-size:12px;}
.planning a{ display:inline-block; line-height:20px; border:1px solid #DEDEDE; color:#DEDEDE; margin-right:1%; padding:0 1%;}
.praise{ color:#808080; font-size:12px;}
.praise img{ margin-left:1%;}
.attention{ border-bottom:1px solid #DFDFDF;}
.questions a:hover,.questions a.active{ background:#FC5241; color:#fff;}
.questions a{ height:80px; display:inline-block; width:100%; color:#AFAFAF; line-height:40px;text-decoration:none;}
.questions{ border-right:1px solid #DFDFDF;}
.browse{ line-height:24px; background:#E6E6E6; border-radius:20%; width:100%;}
.lyrics{ border-bottom:1px solid #DFDFDF; margin-top:15px;}
.enlightenment{ font-size:14px; font-weight:bold;}
.enlightenment span{ font-weight:100; font-size:12px; color:#a5a5a5;}
.experiment1 a{ color:#565656; font-size:12px; line-height:24px;}
.experiment1{ margin:0px 0px 15px;}
.experiment{border-bottom:1px solid #DFDFDF; margin-bottom: 15px;}
.resume{ margin-top:9px; border-bottom:1px dashed #E9EBE6;}
.part{ font-size:18px; font-family:"微软雅黑"; color:#131313;}
.time{ background:url(../image/time.png) no-repeat left center; font-size:12px; color:#bababa; padding-left:14px;}
.Other{ background:url(../image/Other.png) no-repeat left center; font-size:12px; color:#bababa; padding-left:13px; margin-left:3%;}
.sorting{ float:right; font-size:12px; color:#808080;}
.chance{ font-size:13px; color:#0c0c0c; line-height:24px; padding-top:5px;}
.reading a{ color:#ee4b6a; font-size:14px; font-family:"微软雅黑";}
.reading{ text-align:right;}
.navbar {margin-bottom: 0;border-radius: 0;}


/*话题列表*/
.dynamic{ border-bottom:1px solid #ccc; padding-top:35px;}
.dynamic dl{ float:left; width:37%;}
.dynamic p{ float:right;color:#999; line-height:48px;}
.dynamic dl dt{ float:left;}
.dynamic dl dd{ float:left; padding-left:17px;}
.dynamic dl dd.Adobe{ font-size:18px; font-family:"Arial"; font-weight:bold;}
.dynamic dl dd.share{ font-size:14px;}
.dynamic dl dd.share a{ color:#555;}
.dynamic dl dd.share span{ padding:0 13px; border-left:1px solid #EEE;}
.dynamic dl dd.share b{ padding-right:13px;}
.dynamic p a{ padding:0 10px; color:#999;}
.dynamic p a.hover{ color:#245598;}
.making-top p{ float:left; color:#225599; font-weight:bold;}
.making-top span{ float:right; font-size:12px; color:#999;}
.making-top{ line-height:28px; padding-top:17px;}
.making-bottom p{ font-size:12px; color:#999;}
.making-bottom p span{ background:url(../image/making-bottom.jpg) no-repeat left center; margin-left:14px; padding-left:14px;}
.making-bottom p span a{ color:#688EBD;}
.making{ border-bottom:1px solid #EEE;}
a:hover{ text-decoration:none;}

 /*广场*/
.Interest-right p.According span{ float:right;}
.Interest-right p.According{ color:#bab9b9; font-size:12px;}
.Interest-right p{ padding:0px; margin:0px;}
.Interest-right p.According a{ color:#0d7fd6;}
.Interest-right p.According span a{ color:#8b8b8b; padding:0 5px;}
.Interest-right p.may span{ float:right; margin-right:2%;}
.Interest-right p.may{ font-family:"微软雅黑"; font-size:18px; color:#323436;}
.confused, .Interest{ margin-top:25px;}
.ascension dl{ float:left; padding-right:6%; padding-top:10px; margin-bottom: 0;}
.ascension dl dd.rebellious{ color:#215b88; font-size:12px; line-height:20px; padding-top:6px;}
.ascension dl dd.people{ color:#727272; font-size:13px; line-height:18px;}
.ascension dl dd.guan{ width:100%; text-align:center; border:1px solid #D2D2D2; margin-top:10px; line-height:23px;}
.ascension dl dd.guan a{ color:#D2D2D2;}
.ascension dl dd.guan:hover{ background:#FC5241; border:1px solid #FC5241;}
.ascension dl dd.guan:hover a{ color:#fff;}
.confused-right{ margin-top:9px;  }
.confused-right p{line-height:26px; margin:0px; padding-left:20px; font-size:12px; color:#aaa;background:#F4F4F4; border:1px solid #E5E5E5;}
.confused-right p span{ font-size:14px; color:#454545;}
.confused-bottom{}
.higher{ border-bottom:1px dashed #C3C3C3; padding-bottom:15px;}
.higher h5{ font-size:16px; color:#0db2e7; font-family:"微软雅黑"; line-height:26px; margin-top:11px; margin-bottom:0px;}
.higher p.from{ line-height:24px; margin:0px; color:#afafaf;}
.future img{ padding:16px;}
.future{ background:#F6F6F6; border:1px solid #E6E6E6;}
.trouble{ font-size:12px; line-height:22px; margin-top:11px; color:#464646;}
.problem{ font-size:12px;margin-top:7px;}
.problem span.chakan{ float:right; display:inline-block; background:#F0F0F0; padding:0 5px;}
.problem span.chakan a{ color:#afafaf;}
.guanzhu{ background:url(../image/guanzhu.png) no-repeat left center; padding-left:3%;}
.problem span{ display:inline-block;}
.pinglun{ background:url(../image/pinglun.png) no-repeat left center; padding-left:3%; margin-left:2%;}
.zan{ background:url(../image/zan.png) no-repeat left center; padding-left:3%; margin-left:2%;}
.fenxiang{ background:url(../image/fenxiang.png) no-repeat left center; padding-left:3%; margin-left:2%;}
.shou{ background:url(../image/shou.png) no-repeat left center; padding-left:3%; margin-left:2%;}
.problem span a{ color:#ababab;}
.simple-left{ float:left; width:26%;}
.simple-right{ float:left; width:60%; font-size:12px; color:#464646; line-height:21px;}
.simple{ margin-top:5px; margin-bottom:10px;}
.higher1{ padding-bottom:15px;}
.higher1 h5{ font-size:16px; color:#0db2e7; font-family:"微软雅黑"; line-height:26px; margin-top:11px; margin-bottom:0px;}
.higher1 p.from{ line-height:24px; margin:0px; color:#afafaf;}
.comments{ position:relative; background:#fff; border:1px solid #DDD; margin-top:10px; width:80%;}
.comments1{ position:absolute; left:20%; top:-15px;}
.dong{ margin:0px 3%; margin-top:12px; border-bottom:1px solid #EEE;}
.dong-left{ padding-right:3%; float:left;}
.dong-right{ float:left; width:90%;}
.lin{ font-size:12px; color:#215698;}
.dan{ color:#222; font-size:12px;}
.dong-right p{ margin:0px; line-height:22px;}
.time1 span{ float:right;}
.time1{ color:#989AA6; font-size:12px;}
.time1 span a{  font-size: 12px;font-weight: normal;}
.xianshi{ width:100%; text-align:center; line-height:38px; font-size:12px;}
.visual1{ margin-top:36px;}
.visual1-left{ width:30%; float:left; padding-right:2%;}
.visual1-right{ width:68%; float:left;}
.shi{ font-size:14px; color:#3c3c3c; font-weight:bold; line-height:32px;}
.visual1-right p{ margin:0px;}
.jue{ font-size:12px; color:#808080; line-height:20px;}
.guanli span{ display:inline-block; background:#fff; color:#DEDEDE; border:1px solid #DEDEDE; line-height:20px; padding:0 5px; margin-right:4%;}
.tiwen{ text-align:center; border-right:1px solid #DFDFDF;}
.quiz{ margin-top:14px; line-height:20px;}
.quiz span{ display:block;}
#quiz,#quiz:hover,#quiz:focus,#quiz:active,#quiz:link{ color: white;}
.tiwen1{ text-align:center;}
.ask{ width:100%; text-align:center; margin-top:25px; background:#FC5241; line-height:44px; color:#fff;}
.maybe{ margin-top:17px; margin-bottom:14px;}
.topics h6{ font-size:12px; color:#545454; border-bottom:1px solid #E8E8E8; line-height:26px;}
.topics{ width:85%;}
.topics p a{ display:inline-block; line-height:17px; padding:0 3%; margin-right:2%; background:#E4E9EC; margin-top:6px; font-size: 12px;}
.draft p{ margin:0px; line-height:32px; font-size:12px;}
.draft{ margin-top:15px;}
.draft1{ background:url(../image/draft1.jpg) no-repeat left center; padding-left:7%;}
.draft2{ background:url(../image/draft2.jpg) no-repeat left center; padding-left:7%;}
.draft3{ background:url(../image/draft3.jpg) no-repeat left center; padding-left:7%;}
.draft4{ background:url(../image/draft4.jpg) no-repeat left center; padding-left:7%; border-bottom:1px solid #eee;}
.draft5{ background:url(../image/draft5.jpg) no-repeat left center; padding-left:7%;}
.draft6{ background:url(../image/draft6.jpg) no-repeat left center; padding-left:7%;}
.draft7{ background:url(../image/draft7.jpg) no-repeat left center; padding-left:7%;}
.draft8{ background:url(../image/draft8.jpg) no-repeat left center; padding-left:7%;}
#bg { position:fixed; top:0; left:0; z-index:40; width:100%; height:100%; background:#000; filter:alpha(opacity=70); opacity:0.7; }

/*问题编辑页*/
.Modify p a{ color:#D1D1D1;}
.Modify p a span{ padding-left:1%;}
.Modify p span.shijian{ display:inline-block; padding:0 4px; line-height:20px; border:1px solid #DFDFDF; color:#DFDFDF; margin-right:10px;}
.Modify{ margin-top:33px; width:85%;}
.design p{ color:#414141; font-size:14px; font-weight:bold;}
.workshop p{ line-height:24px; color:#343434; font-size:12px; padding:0px; margin:0px;}
.invitation{ background:url(../image/invitation.jpg) no-repeat left center; padding-left:3%; margin-left:2%; color:#ababab;}
.problem1{ float:left;}
.workshop img{ padding-bottom:16px;}
.content{ margin-top:27px; width:90%;}
.volunteer span{ display:inline-block; padding:0 1%; background:#E4E9EC; line-height:18px; font-size:12px; color:#99a8ac; margin-right:1%;}
.title{ font-size:16px; font-family:"微软雅黑"; color:#323436; line-height:44px; margin:0px;}
.enshrine{ line-height:20px; padding-bottom:15px; border-bottom:1px dashed #C2C2C2;}
.answer{ border-bottom:1px dashed #C2C2C2;}
.answer p{ font-size:14px; color:#323436; font-weight:bold; margin:0px; line-height:39px;}
.answer p.paixu{ float:right; font-size:12px; color:#767676; font-weight:100;}
.answer p.paixu span{ display:inline-block;}
.figure dl dt{ float:left;}
.figure dl dd{ float:left; padding-left:2%;}
.figure dl{ padding-left:2%; padding-top:16px;}
.figure dl dd a{ color:#323436; font-size:12px;}
.figure p{ font-size:12px; line-height:22px; padding-bottom:13px; color:#010101;}
.problem span{ color:#AAA;}
.problem2{ border-bottom:1px dashed #C2C2C2; padding-bottom:10px;}
.figure1{ text-align:center;}
.friend{ margin-top:23px; background:#F2F2F2;}
.friend p.weibo{ padding-top:25px;}
.friend1{ width:95%; margin:0 auto;}
.friend p.weibo img{ margin-right:2%;}
.wangyou p.wang{ font-size:14px; line-height:33px; padding-top:20px; font-family:"微软雅黑";}
.cancellation dl{ float:left; width:50%;}
.cancellation{ margin-top:10px; margin-bottom:30px;}
.cancellation dl dt{ float:left;}
.cancellation dl dd{ float:left; width:80%;}
.cancellation dl dd span{ color:#00A37E; padding-right:1%;}
.cancellation dl dd a{ color:#000; padding-left:1%;}
.problem-focused{ margin-top:42px;}
.problem-focused p img{ padding-right:1%; margin-bottom:3px;}
.focused a{ display:inline-block; background:#FC5241; color:#fff; line-height:32px; padding:0 2%; font-size:14px;}
.focused span{ color:#227AC2;}
.focused{ color:#999; font-size:12px;}
.related{}
.related h6{ font-size:14px; font-weight:bold; color:#232323; line-height:30px; padding-top:11px; border-top:1px solid #EEE;}
.related p{ line-height:22px; font-size:12px; margin:0px;}
.related p span{ color:#9A9A9A; display:inline-block;}
.wb_content {padding: 15px; border-top: 1px dashed #ccc; margin-top: 10px;}
.wb_content {line-height: 24px; font-size: 12px;}
.wb_content img {max-width: 100%;}
.vline {  margin: 0 8px;}

.microblog{ position:fixed; top:30%; left:15%; z-index:999;}
.microblog1 h5{ text-align:center; line-height:44px; background:#FC5241; color:#fff; font-size:18px; font-family:"微软雅黑";}
.microblog1{ background:#fff;}
.microblog1 h5 span{ float:right; margin-right:2%;}
.weibo1{ font-size:14px; background:url(../image/weibo1.jpg) repeat-x; line-height:34px; width:96%; margin:0 auto;}
.weibo1 a{ color:#245598; padding:0 7%;}
.weibo1 a.hover{ color:#666; background:url(../image/weibo2.jpg) no-repeat; display:inline-block;}
.liyou{ font-size:14px; font-family:"微软雅黑"; line-height:34px; width:96%; margin:0 auto;}
.fenx{ width:96%; margin:0 auto;}
.fabu img{ padding-right:1%;}
.quxiao{ float:right;}
.fabu{ margin-top:10px; padding-bottom:10px;}

/*话题广场*/
.square{}
.square h6{ font-size:14px; font-family:"宋体"; font-weight:bold; color:#454545; line-height:24px; padding-top:24px; margin:0px; border-bottom:1px solid #D2D2D2; padding-bottom:12px;}
.square h6 span{ margin-right:2%;}
.supervise a{ background:#fff; color:#b4b4b4; font-size:12px; padding:0 1%; border:1px solid #DEDEDE; line-height:20px; display:inline-block; margin-top:15px; margin-right:1.2%;}
.supervise{ border-bottom:1px solid #D2D2D2; padding-bottom:17px;}
.health dl dt{ float:left; width:14%;}
.health dl dd{ float:left; padding-left:5%; width:75%; font-size:12px; color:#222; line-height:22px;}
.health dl{ margin-top:23px; width:100%; padding-bottom:14px; border-bottom:1px dashed #EEEEEE;}
.health{ margin-top:16px;}
.health dl dd.guanz span{ float:right; font-weight:100;}
.health dl dd.guanz{ font-size:12px; color:#22549B; font-weight:bold;}
.health-left{ width:50%; float:left;}

/*我的私信*/
.pad {padding: 5px; }
.nav-left {color: #555; } 
.mt10 {margin-top: 10px; } 
.nav-left dd.current {background: #414448 none repeat scroll 0 0; }
.nav-left dd.current a:link, .nav-left dd.current a:visited {color: #fff; }
.nav-left dd a:link, .nav-left dd a:visited {color: #545454; display: block; height: 30px; line-height: 30px; text-align: center; } 
.person-set {background: #fff none repeat scroll 0 0; border-left: 1px solid #ebebeb; }
.feed-nav {position: relative; } .feed-nav .set-hd {margin: 0 0 5px; } .set-hd h3 {border-bottom: 1px solid #ebebeb; font-size: 14px; font-weight: 700; padding: 0 0 10px; } .mod-feed-tab .inner-feed-nav .current a {background: #d9d9d9 none repeat scroll 0 0; color: #666; } .mod-feed-tab .inner-feed-nav li a, .mod-feed-tab .inner-feed-nav li a:hover {color: #666; display: inline-block; font-size: 12px; line-height: 14px; padding: 5px 10px; white-space: nowrap; word-break: break-all; } 
.feng .name {font-size:12px;line-height: 14px;}
.private h5{ font-size:14px; line-height:22px; border-bottom:1px solid #ccc; padding-top:33px; padding-bottom:11px; font-weight:bold;}
.private h5 span{ float:right;}
.private h5 span a{ color:#444;}
.private dl {margin: 10px 0; border-bottom: 1px dotted #ccc;padding-bottom:10px;}
.private dl dt{ float:left; width:9%;}
.private dl dd{ float:left; width:90%; font-size:12px; line-height:26px;}
.private dl dd.huifu{ text-align:right; color:#ADADAD;}
.private dl dd.feng{ color:#2c2c2c;}
.private dl dd.feng span{ color:#FC5140;}
.private dl dd.huifu a{ display:inline-block; padding:0 1%;}
.private dl dd.huifu span{ display:inline-block; padding:0 1%;}

/*网页尾部*/
.footer{ background:#1F2229;}
.footer-img{ text-align:center; margin-top:14px;}
.footer-img p{ color:#393e48; font-size:12px; line-height:22px; margin:0px; padding-top:22px;}
.footer-img p img{ padding:0 2%;}
.guanyu{ margin-top:30px;}
.guanyu p{ line-height:24px; color:#fff; font-size:12px; margin:0px;}
.guanyu p a{ color:#393e48;}
.copyright{ font-size:12px; color:#434a58; text-align:center; padding-top:25px; margin-bottom:30px;}

@media (min-width: 768px){ .toggle {display: none; } .information1{ text-align:right;}} 
@media (max-width: 768px){ .birthday,.school,.birthday1 {width:  100%;height: 34px;margin-bottom: 10px;} .nan,.nv {width: 30%;} .Interest-left,.confused-left{display: none;},}
input.error { border: 1px solid red; }
label.error {color: red;}






