@charset "utf-8";
/* CSS Document */
li{list-style:none;}
ul, p {padding: 0;}
.left {float: left;}
.tx-right {text-align: right;}
a:hover, a:focus{text-decoration: none;}
a.top_stick:link, a.top_stick:visited, a.to_answer:link, a.to_answer:visited {color: #ccc;display:block;width:41px; height:41px;text-decoration: none;padding: 4px;}
a.to_answer:hover, a.top_stick:hover {color: #7cb7d9; text-decoration: none;}
#topcontrol .sui-icon {font-size: 33px;}
#page-wrap {min-height: 500px}
.acc-list .sui-icon {font-size:15px;}
span.wjg {display:inline-block; width: 10px;}
.ts_confirm {background: rgba(0, 0, 0, 0) url("../image/pagedarkbg.png") repeat scroll 0 0; clear: left; margin-top: 20px; position: absolute; text-align: center; z-index: 9; }
.ico-error, .ico-ok, .ico-wait, .ico-no, .ico-ok-big, .ico-error-big {background: rgba(0, 0, 0, 0) url("../image/ico-tips.png") no-repeat scroll 0 0; display: inline-block; }
.ts_confirm .ico-close {position: absolute; right: 5px; top: 5px; }
.ts_confirm .layer-mini-info {background: #fff none repeat scroll 0 0; border: 1px solid #ccc; padding: 15px; position: relative; color: #999; min-width: 170px; width: 200px;}
.layer-mini-info .action {margin: 15px 0 0; text-align: center; }
.ico-error {background-position: -39px 0; height: 20px; margin: 0 5px 0 0; vertical-align: -4px; width: 20px; }
.btn-green-small, .btn-green-small:hover {background: #414448 none repeat scroll 0 0; border-radius: 2px; color: #fff; font-size: 12px; height: 24px; line-height: 24px; text-align: center; width: 50px; }
.mr10 {margin-right: 10px;}
.btn-green-big span, .btn-green-small span {color: #fff; }
.btn-cancel span {background-position: right -484px; color: #666; display: inline-block; line-height: 14px; padding: 5px; }
.btn-big, .btn-big span, .btn-cancel span, .btn-grey-white, .btn-green-small, .btn-green-big, .btn-register, .btn-login, .btn-att-green, .btn-att-white, .btn-copy, .btn-cancel, .btn-grey {cursor: pointer; display: inline-block; vertical-align: middle; }
.layer-mini-info .action .btn-cancel span, .layer-content .btn-cancel span, .layer-follow-list .btn-cancel span, .weiba-manage .btn-cancel span, .form-avatar .btn-cancel span, .tipoff-manage .btn-cancel span {padding: 5px 12px; }
.btn-cancel {background-position: 0 -452px; padding: 0 0 0 2px; }
.sexselect {background: #fc5241;border-color:#fc5241; color: white;}
.nv:hover, .sexselect:hover {background: #fc5241;border-color:#fc5241; color: white;}
.yw-spectrum1{ border:3px solid #fff; border-radius:50%;}
.boxy-modal-blackout{position: absolute;left: 0; top: 0;}
.html_clew_box { border:1px solid #ccc; color:#1b9103; position:absolute; z-index:999999; background:#fff;text-align:center;margin-top:1px;float:left;webkit-box-shadow:0 0 15px #888888;-moz-box-shadow:0 0 15px #888888;-khtml-box-shadow:0 0 15px #888888;-ms-box-shadow:0 0 15px #888888;box-shadow:0 0 15px #888888; }
.clew_error { background-position:0 bottom; color:#f00 }
.html_clew_box_close { clear:both; display:none }
.html_clew_box_close a { background: url(../image/pop_ico_x.gif) no-repeat 0 0; width:8px; height:8px; overflow: hidden; text-indent: 10px; display: block;float: right; }
.html_clew_box_con { font-size:14px; padding:15px 20px; white-space: nowrap; font-weight: bold; }
.ico_waiting { background:url(../image/icon_waiting.gif) no-repeat 0 0; display:inline-block; padding-left:40px; }
.boxy-content { text-align:left; padding:10px; }
#input_dismissed { margin:10px 0 10px 0; }
/*遮罩层样式*/
.boxy-modal-blackout { position: absolute;background:#000;left: 0; top: 0;filter:alpha(opacity=30);-moz-opacity:0.8;opacity:0.8;background:#000;}

.yw-topic{ margin-top:6px; padding-top:28px; padding-bottom:13px;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.yw-topic1{ display:block; width:80%; margin-left:15%; text-align:center; margin-top:6px; margin-bottom:6px; background:#253A4B; border-radius:3px;}
.yw-topic2{ margin-top:6px; line-height:24px; margin-bottom:6px; color:#04223A;}
.yw-box{ background:url(../image/yw-box.png) repeat-x; padding-bottom:33px; position:fixed; bottom:0px; z-index:9999; width:100%;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.yw-bottom{ background:url(../image/bj-bottom.png) 0 -6px repeat-x;position:fixed; bottom:0px; z-index:4; width:100%; font-family: 微软雅黑;}
.popover {max-width: 5000px; position: static; z-index: 0; background:url(../image/yw-topic1.png) repeat; } 
.popover.bottom>.arrow {top: 0; } .data-content {display:none;} 
#login-bg .popover.bottom>.arrow:after {border-bottom-color: transparent; } 
.toggle {display: block; position: absolute; top: -26px; left: 47.5%; width: 76px; height: 26px; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3; } 
.kp_top {background: url(../image/bottom.png) no-repeat #000; } 
.kp_bottom {background: url(../image/top.png) no-repeat #000; }


.yw-hot{ background:url(../image/yw-hot.jpg) no-repeat top center; height:63px;}
.yw-submit{ background:#F7F7F7; color:#676767; margin-left:3px;}
.topic{ padding-top:24px; padding-bottom:15px;}
.install{ background:url(../image/yw-install.png) no-repeat top center;}
.install dl{ float:left; padding-top:60px;}
.install dl dt{ text-align:center;}
.install dl dd{ font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; color:#4c4c4c; line-height:36px;}
.yw-Focus2{ text-align: center; margin-bottom: 10px;}
.yw-Focus2 span{background:#F4F4F4; width:100%; color:#A5A5A5; display:inline-block; line-height:24px; border:1px solid #DEDEDE; padding-left:13%;}
.yw-Focus2 span img{ margin-left:10%;}
.yw-Focus2 span a { float:right; margin-right: 10px; }
.yw-Focus1{ text-align:right; font-size:18px; color:#525252;}
.yw-Focus3 span{background:#F4F4F4; width:100%; color:#A5A5A5; display:inline-block; line-height:24px; border:1px solid #DEDEDE; padding-left:30%;}
.yw-Focus3 span img{ margin-left:30%;}
.management{ background:#F6F6F4; margin-top:27px; padding:15px;}
.management1{ padding-left:15px; padding-right:15px; padding-bottom:15px;}
.col-xs-3{ padding:0px;}
.management2{ padding-left:15px; padding-right:15px;}
.steps1{ width:30%; background:#333436; color:#fff; line-height:36px;}
.steps{ margin-top:15px;}
.steps2{ width:30%; line-height:36px;}
.note{ text-align:center; line-height:36px; font-size:12px; color:#8e8e8e; margin-top:42px;}
.gather{ background:url(../image/gather.jpg) no-repeat top center; text-align:center; padding-top:44px; padding-bottom:45px;}
.link{ background:url(../image/gather.jpg) no-repeat top center; padding-top:43px;}
.link a{ color:#000100; padding-right:35px; padding-left:2px;}
.portrait img{ border:1px solid #DEDEDE;}
.portrait1{ margin-top:27px;}
.information h3{ font-size:18px; font-family:"Î¢ÈíÑÅºÚ"; color:#5b5b5b; background:url(../image/information.png) repeat-x; line-height:28px;}
.information h3 span{ padding-left:1%; padding-right:1%; padding-top:12px; display:inline-block; float:left}
.information h3 img{ float:left;}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
.information1{ font-size:16px; font-family:"微软雅黑";  line-height:34px;}
.nan{ width:10%;}
.nv{ width:10%; margin-left:1%;}
.birthday{ width:17%; float:left; margin-right:2%; height:34px; line-height:28px; padding:6px 12px;}
.school{ width:40%; float:left; margin-right:2%;}
.birthday1{ float:left; width:40%; margin-right:2%;}
.school1{ padding-bottom:7px;}
.sub{ width:42%; background:#333436; color:#fff;}
.bu{ width:42%; margin-left:1%;}
.school2{ margin-top:40px;}
.page {margin: 15px auto;}
.page a {margin: 0 4px;  padding: 2px 9px; display: inline-block; border: 1px solid #ccc;}
.page .current {color:red; padding: 0; border: none;}
.dropdown-menu > li > span {clear: both; color: #333; display: inline-block; font-weight: normal; line-height: 1.42857; padding: 3px 0 3px 20px; white-space: nowrap; }
/*个人主页*/
.homepage1{ background:url(../image/homepage.png) no-repeat;}
.homepage1 img{ padding:12px;}
.homepage{ padding-top:27px;}
.fans{ margin-top:2px;}
.fans p{ width:43%; text-align:center; float:left; font-family:"宋体"; font-size:12px; color:#AFAFAF;}
.fans p span{ display:block; font-family:"微软雅黑"; font-size:16px; color:#000;}
.fans p.no{ border-right:1px solid #DFDFDF;}
.set_space_top_pic {position:absolute; top:0; right:0; cursor:pointer; height: 45px ;}
#nav_top_set {width: 378px; position: absolute; right: -378px; bottom: 30px; height: 60px; background: #e6e6e6}
#nav_top_set .spic {padding: 5px; position: relative; float: left; cursor: pointer; }
#nav_top_set .spic .checked {display: none; position: absolute;right: 0;top: 0;}
#nav_top_set .spic_checked .checked{display:block;}
.Introduction{ padding-top:27px;}
.name{ line-height:36px; font-size:26px; color:#444; font-family: 微软雅黑;}
.nan1{ font-size:12px; color:#aeaeae; margin-right:1%;}
.location{ background:url(../image/location.png) no-repeat left center; font-size:12px; padding-left:2%;font-size:12px; color:#aeaeae;}
.visual{ color:#808080; font-size:12px;}
.planning a{ display:inline-block; line-height:20px; border:1px solid #DEDEDE; color:#DEDEDE; margin-right:1%; padding:0 1%;font-size:12px;}
.praise{ color:#808080; font-size:12px;}
.praise img{ margin-left:1%;}
.questions{ background:url(../image/questions.png) no-repeat right top; font-size:12px;}
.questions a:hover,.questions a.hover{ background:#FC5241; color:#fff;}
.questions a{ height:80px; display:inline-block; width:100%; color:#AFAFAF; line-height:40px;text-decoration:none;}
.browse{ line-height:24px; background:#E6E6E6; border-radius:20%; width:100%;}
.lyrics{ border-bottom:1px solid #DFDFDF; margin-top:15px;}
.enlightenment{ font-size:14px; font-weight:bold;}
.enlightenment span{ font-weight:100; font-size:12px; color:#a5a5a5;}
.experiment1 a{ color:#565656; font-size:12px; line-height:24px;}
.experiment1{ margin:0px 0px 15px;}
.experiment{border-bottom:1px solid #DFDFDF; margin-bottom: 15px;}
.resume{ margin-top:9px; border-bottom:1px dashed #E9EBE6;}
.part{ font-size:18px; font-family:"微软雅黑"; color:#131313; margin-bottom: 0px;}
.time{ background:url(../image/time.png) no-repeat left center; font-size:12px; color:#bababa; padding-left:14px;}
.Other{ background:url(../image/Other.png) no-repeat left center; font-size:12px; color:#bababa; padding-left:13px; margin-left:3%;}
.sorting{ float:right; font-size:12px; color:#808080;}
.chance{ font-size:13px; color:#0c0c0c; line-height:24px; padding-top:5px;}
.reading a{ color:#ee4b6a; font-size:14px; font-family:"微软雅黑";}
.reading{ text-align:right;}
.navbar {margin-bottom: 0;border-radius: 0;}


/*话题列表*/
.dynamic{ border-bottom:1px solid #ccc; padding-top:35px;padding-bottom: 15px;}
.dynamic dl{ float:left; width:37%;}
.dynamic p{ float: right; color: #999; font-size: 12px; height: 50px; padding-top: 30px;} 
.dynamic dl dt{ float:left;}
.dynamic dl dd{ float:left; padding-left:17px;}
.dynamic dl dd.Adobe{ font-size:18px; font-family:"Arial"; font-weight:bold;  margin-bottom: 9px;line-height: 22px;}
.dynamic dl dd.share{ font-size:14px;}
.dynamic dl dd.share a{ color:#555;}
.dynamic dl dd.share span{ padding:0 13px; border-left:1px solid #EEE;}
.dynamic dl dd.share span:first-child {border-left: none; padding-left: 0;}
.dynamic dl dd.share b{ padding-right:13px;}
.dynamic p a{ padding:0 10px; color:#999;}
.dynamic p a.hover{ color:#245598;}
.making-top p{ float:left; color:#225599; font-weight:bold;}
.making-top span{ float:right; font-size:12px; color:#999;}
.making-top{ line-height:28px; padding-top:17px;}
.making-bottom p{ font-size:12px; color:#999;}
.making-bottom p span{ background:url(../image/making-bottom.jpg) no-repeat left center; margin-left:14px; padding-left:14px;}
.making-bottom p span a{ color:#688EBD;}
.making{ border-bottom:1px solid #EEE;}
a:hover{ text-decoration:none;}

 /*广场*/
.Interest-right p.According span{ float:right;}
.Interest-right p.According{ color:#bab9b9; font-size:12px;margin-top: 5px;}
.Interest-right p{ padding:0px; margin:0px;}
.Interest-right p.According a{ color:#0d7fd6;}
.Interest-right p.According span a{ color:#8b8b8b; padding:0 5px;}
.Interest-right p.may span{ float:right; margin-right:2%;}
.Interest-right p.may{ font-family:"微软雅黑"; font-size:18px; color:#323436;}
.confused-top, .Interest{ margin:25px 0 3px;}
.ascension dl{ float:left; padding-right:6%; padding-top:10px; margin-bottom: 0;}
.ascension dl dd.rebellious{ color:#215b88; font-size:12px; line-height:20px; padding-top:6px;}
.ascension dl dd.people{ color:#727272; font-size:13px; line-height:18px;}
.ascension dl dd.guan{ width:100%; text-align:center; border:1px solid #FC5241; margin-top:10px; line-height:220%; border-radius: 5px;-webkit-box-shadow: 0px 3px 0px #DA593D; -moz-box-shadow: 0px 3px 0px #DA593D; box-shadow: 0px 3px 0px #DA593D;background: #fc5241;}
.ascension dl dd.guan a{ color:#fff; font-family: 微软雅黑}
.ascension dl dd.guan:hover{ border:1px solid #d3d3d3;background:#d3d3d3; -webkit-box-shadow: 0px 0px 0px #fff; -moz-box-shadow: 0px 0px 0px #fff; box-shadow: 0px 0px 0px #fff;}
.ascension dl dd.guan:hover a{ color:#fff;}
.confused-right{ margin-top:9px;  }
.Interest-right, .confused-right {padding: 0;}
.confused-right p{line-height:26px; margin:0px; padding-left:20px; font-size:12px; color:#aaa;background:#F4F4F4; border:1px solid #E5E5E5;}
.confused-right p span{ font-size:14px; color:#454545;}
.confused-bottom{}
.higher{ border-bottom:1px dashed #C3C3C3; padding-bottom:15px;}
.higher h5{ font-size:16px; color:#0db2e7; font-family:"微软雅黑"; line-height:26px; margin-top:11px; margin-bottom:0px;}
.higher p.from{ line-height:24px; margin:0px; color:#afafaf;}
.future img{ padding:16px;}
.future{ background:#F6F6F6; border:1px solid #E6E6E6;}
.trouble{ font-size:12px; line-height:22px; margin-top:11px; color:#464646;}
.problem{ font-size:12px;margin-top:7px;}
.problem span.chakan{ float:right; display:inline-block; background:#F0F0F0; padding:0 5px;}
.problem span.chakan a{ color:#afafaf;}
.guanzhu{ background:url(../image/guanzhu.png) no-repeat left center; padding-left:3%;}
.problem span{ display:inline-block;}
.pinglun{ background:url(../image/pinglun.png) no-repeat left center; padding-left:3%; margin-left:2%;}
.zan{ background:url(../image/zan.png) no-repeat left center; padding-left:3%; margin-left:2%;}
.fenxiang{ background:url(../image/fenxiang.png) no-repeat left center; padding-left:3%; margin-left:2%;}
.shou{ background:url(../image/shou.png) no-repeat left center; padding-left:3%; margin-left:2%;}
.problem span a{ color:#ababab;}
.simple-left{ float:left; width:26%;}
.simple-right{ float:left; width:60%; font-size:12px; color:#464646; line-height:21px;}
.simple{ margin-top:5px; margin-bottom:10px;}
.higher1{ padding-bottom:15px;}
.higher1 h5{ font-size:16px; color:#0db2e7; font-family:"微软雅黑"; line-height:26px; margin-top:11px; margin-bottom:0px;}
.higher1 p.from{ line-height:24px; margin:0px; color:#afafaf;}
.comments{ position:relative; background:#fff; border:1px solid #DDD; margin-top:10px; width:80%;}
.comments1{ position:absolute; left:20%; top:-15px;}
.dong{ margin:0px 3%; margin-top:12px; border-bottom:1px solid #EEE;}
.dong-left{ padding-right:3%; float:left;}
.dong-right{ float:left; width:90%;}
.lin{ font-size:12px; color:#215698;}
.dan{ color:#222; font-size:12px;}
.dong-right p{ margin:0px; line-height:22px;}
.time1 span{ float:right;}
.time1{ color:#989AA6; font-size:12px;}
.time1 span a{  font-size: 12px;font-weight: normal;}
.xianshi{ width:100%; text-align:center; line-height:38px; font-size:12px;}
.visual1{ margin-top:36px;}
.visual1-left{ width:84px; height:85px; float:left; background:url(../image/index_head_bj.png);  padding: 7px 0 0 7px;margin-right: 5px;}
.visual1-right{ float:left;max-width: 64%;}
.shi{ font-size:14px; color:#3c3c3c; font-weight:bold; line-height:32px;}
.visual1-right p{ margin:0px;}
.jue{ font-size:12px; color:#808080; line-height:20px;}
.guanli span{ display:inline-block; background:#fff; color:#DEDEDE; border:1px solid #DEDEDE; line-height:20px; padding:0 5px; margin-right:4%;}
.tiwen{ text-align:center; border-right:1px solid #DFDFDF;}
.quiz{ margin-top:14px; line-height:20px;}
.quiz span{ display:block;}
#quiz,#quiz:hover,#quiz:focus,#quiz:active,#quiz:link{ color: white;}
.tiwen1{ text-align:center;}
.ask{ width:100%; text-align:center; margin-top:25px; background:#FC5241; line-height:44px; color:#fff;}
.maybe{ margin-top:17px; margin-bottom:14px;}
.topics h6{ font-size:12px; color:#545454; border-bottom:1px solid #E8E8E8; line-height:26px;}
.topics{ width:85%;}
.topics p a{ display:inline-block; line-height:17px; padding:0 3%; margin-right:2%; background:#E4E9EC; margin-top:6px; font-size: 12px;}
.draft p{ margin:0px; line-height:32px; font-size:12px;}
.draft{ margin-top:15px;padding-top:5px;}
.draft1{ background:url(../image/draft1.jpg) no-repeat left center; padding-left:18px;border-top:1px solid #eee; padding-top:5px;}
.draft2{ background:url(../image/draft2.jpg) no-repeat left center; padding-left:18px;}
.draft3{ background:url(../image/draft3.jpg) no-repeat left center; padding-left:18px;}
.draft4{ background:url(../image/draft4.jpg) no-repeat left center; padding-left:18px; }
.draft5{ background:url(../image/draft5.jpg) no-repeat left center; padding-left:7%;}
.draft6{ background:url(../image/draft6.jpg) no-repeat left center; padding-left:7%;}
.draft7{ background:url(../image/draft7.jpg) no-repeat left center; padding-left:7%;}
.draft8{ background:url(../image/draft8.jpg) no-repeat left center; padding-left:7%;}
#bg { position:fixed; top:0; left:0; z-index:40; width:100%; height:100%; background:#000; filter:alpha(opacity=70); opacity:0.7; }

/*问题编辑页*/
.Modify p a{ color:#D1D1D1;}
.Modify p a span{ padding-left:1%;}
.Modify p span.shijian{ display:inline-block; padding:0 4px; line-height:20px; border:1px solid #DFDFDF; color:#DFDFDF; margin-right:10px;}
.Modify{ margin-top:33px; width:85%;}
.design p{ color:#414141; font-size:14px; font-weight:bold;}
.workshop p{ line-height:24px; color:#343434; font-size:12px; padding:0px; margin:0px;}
.invitation{ background:url(../image/invitation.jpg) no-repeat left center; padding-left:3%; margin-left:2%; color:#ababab;}
.problem1{ float:left;}
.workshop img{ padding-bottom:16px;}
.content{ margin-top:27px; width:90%;}
.volunteer span{ display:inline-block; padding:0 1%; background:#E4E9EC; line-height:18px; font-size:12px; color:#99a8ac; margin-right:1%;}
.title{ font-size:16px; font-family:"微软雅黑"; color:#323436; line-height:44px; margin:0px;}
.enshrine{ line-height:20px; padding-bottom:15px; border-bottom:1px dashed #C2C2C2;}
.answer{ border-bottom:1px dashed #C2C2C2;}
.answer p{ font-size:14px; color:#323436; font-weight:bold; margin:0px; line-height:39px;}
.answer p.paixu{ float:right; font-size:12px; color:#767676; font-weight:100;}
.answer p.paixu span{ display:inline-block;}
.figure dl dt{ float:left;}
.figure dl dd{ float:left; padding-left:2%;}
.figure dl{ padding-left:2%; padding-top:16px;margin-bottom: 20px;}
.figure dl dd a{ color:#323436; font-size:12px;}
.figure p{ font-size:12px; line-height:22px; padding-bottom:13px; color:#010101;}
.problem span{ color:#AAA;}
.problem2{ border-bottom:1px dashed #C2C2C2; }
.figure1{ text-align:center;}
.friend{ margin-top:23px;}
.friend p.weibo{ padding-top:25px;}
.friend1{ width:95%; margin:0 auto;}
.friend p.weibo img{ margin-right:2%;}
.wangyou p.wang{ font-size:14px; line-height:33px; padding-top:20px; font-family:"微软雅黑";}
.cancellation dl{ float:left; width:50%;}
.cancellation{ margin-top:10px; margin-bottom:30px;}
.cancellation dl dt{ float:left;}
.cancellation dl dd{ float:left; width:80%;}
.cancellation dl dd span{ color:#00A37E; padding-right:1%;}
.cancellation dl dd a{ color:#000; padding-left:1%;}
.problem-focused{ margin-top:42px;}
.problem-focused p img{ padding-right:1%; margin-bottom:3px;}
.focused a{ display:inline-block; background:#FC5241; color:#fff; line-height:32px; padding:0 2%; font-size:14px;}
.focused span{ color:#227AC2;}
.focused{ color:#999; font-size:12px; margin-bottom: 10px;}
.related{}
.related h6{ font-size:14px; font-weight:bold; color:#232323; line-height:30px; padding-top:11px; border-top:1px solid #EEE;}
.related p{ line-height:22px; font-size:12px; margin:0px;}
.related p span{ color:#9A9A9A; display:inline-block;}
.wb_content {padding: 15px; border-top: 1px dashed #ccc; margin-top: 10px;}
.wb_content {line-height: 24px; font-size: 12px;}
.wb_content img {max-width: 100%;}
.vline {  margin: 0 8px;}

.microblog{ position:fixed; top:30%; left:15%; z-index:999;}
.microblog1 h5{ text-align:center; line-height:44px; background:#FC5241; color:#fff; font-size:18px; font-family:"微软雅黑";}
.microblog1{ background:#fff;}
.microblog1 h5 span{ float:right; margin-right:2%;}
.weibo1{ font-size:14px; background:url(../image/weibo1.jpg) repeat-x; line-height:34px; width:96%; margin:0 auto;}
.weibo1 a{ color:#245598; padding:0 7%;}
.weibo1 a.hover{ color:#666; background:url(../image/weibo2.jpg) no-repeat; display:inline-block;}
.liyou{ font-size:14px; font-family:"微软雅黑"; line-height:34px; width:96%; margin:0 auto;}
.fenx{ width:96%; margin:0 auto;}
.fabu img{ padding-right:1%;}
.quxiao{ float:right;}
.fabu{ margin-top:10px; padding-bottom:10px;}

/*话题广场*/
.square{}
.square h6{ font-size:14px; font-family:"宋体"; font-weight:bold; color:#454545; line-height:24px; padding-top:24px; margin:0px; border-bottom:1px solid #D2D2D2; padding-bottom:12px;}
.square h6 span{ margin-right:2%;}
.supervise a{ background:#fff; color:#b4b4b4; font-size:12px; padding:0 1%; border:1px solid #DEDEDE; line-height:20px; display:inline-block; margin-top:15px; margin-right:1.2%; border-radius: 10px;}
.supervise{ border-bottom:1px solid #D2D2D2; padding-bottom:17px;}
.health dl dt{ float:left; width:14%;}
.health dl dd{ float:left; padding-left:5%; width:75%; font-size:12px; color:#222; line-height:22px;}
.health dl{ margin-top:23px; width:100%; padding-bottom:14px; border-bottom:1px dashed #EEEEEE;}
.health{ margin-top:16px;}
.health dl dd.guanz span{ float:right; font-weight:100;}
.health dl dd.guanz{ font-size:12px; color:#22549B; font-weight:bold;}
.health-left{ width:50%; float:left;}

/*我的私信*/
.nav-left {color: #555; } 
.mt10 {margin-top: 10px; } 
.nav-left dd {margin-bottom: 5px;}
.nav-left dd.current {background: #fc5241 none repeat scroll 0 0; border-radius: 3px;}
.nav-left dd.current a:link, .nav-left dd.current a:visited {color: #fff; font-family: 微软雅黑;}
.nav-left dd a:link, .nav-left dd a:visited {color: #545454; display: block; height: 43px; line-height: 43px; padding-left: 15%; } 
.nav-left dd a .glyphicon {font-size: 17px; top: 3px;}
.feed-nav {position: relative; } 
.feed-nav .set-hd {margin: 0 0 5px; } 
.set-hd h3 {border-bottom: 1px solid #ebebeb; font-size: 22px; font-family: 微软雅黑; padding: 0 0 10px; } 
.set-hd h3 .glyphicon {display:none;}
.set-hd h3 .info_wcd { display: inline-block; font-size: 14px; margin-left: 19px;}
.set-hd h3 .info_wcd div {width: 100px; background-color: #2e89c9; color: white;text-align: right; margin-right: 5px;display: inline-block;
    margin-left: 7px; top: 3px; position: relative;}
.set-hd h3 .info_wcd div span { background-color: #2974a8; display: inline-block ;float: left;height: 15px;}
.mod-feed-tab .inner-feed-nav .current a {background: #d9d9d9 none repeat scroll 0 0; color: #666; } 
.mod-feed-tab .inner-feed-nav li a, .mod-feed-tab .inner-feed-nav li a:hover {color: #666; display: inline-block; font-size: 12px; line-height: 14px; padding: 5px 10px; white-space: nowrap; word-break: break-all; } 
.weiba_postlist .name, .feng .name {font-size:12px;line-height: 14px;}
.private h5{ font-size:14px; line-height:22px; border-bottom:1px solid #ccc; padding-top:33px; padding-bottom:11px; font-weight:bold;}
.private h5 span{ float:right;}
.private h5 span a{ color:#444;}
.private dl {margin: 10px 0; border-bottom: 1px dotted #ccc;padding-bottom:10px;}
.private dl dt{ float:left; width:9%;}
.private dl dd{ float:left; width:90%; font-size:12px; line-height:26px;}
.private dl dd.huifu{ text-align:right; color:#ADADAD;}
.private dl dd.feng{ color:#2c2c2c;}
.private dl dd.feng span{ color:#FC5140;}
.private dl dd.huifu a{ display:inline-block; padding:0 1%;}
.private dl dd.huifu span{ display:inline-block; padding:0 1%;}

/*搜索页*/
.rank-box1 li {margin: 15px 0 0; overflow: hidden; }
.rank-box1 dl {overflow: hidden; margin-bottom: 0px;}
.rank-box1 dt {float: left; }
.rank-box1 dt img {border-radius: 8px;}
.rank-box1 dd {margin: 0 0 0 60px; }
.rank-box1 dd p {line-height: 16px; }


/* 签到 */
#check {margin-top: 18px;}
.sign-in{background:url(../image/sign-in.png) no-repeat;width:100%;height:70px;position:relative;margin:0 0 20px 0;font-family:"微软雅黑";*z-index:1;}
.sign-in-h{background:url(../image/sign-in-h.png) no-repeat;width:100%;height:70px;position:relative;margin:0 0 20px 0;font-family:"微软雅黑";*z-index:1;}
.sign-in em,.sign-in-h em{font-style:normal;display:block;}
.sign-in .datetime{display:block;position:absolute;left:0;top:0;padding:10px 0 10px 80px;}
.sign-in-h .datetime{display:block;position:absolute;left:0;top:0;padding:10px 0 10px 80px;}
.sign-in .date{color:#111;font-size:14px;margin:0 0 5px 0;}
.sign-in-h .date{ color:#111;font-size:14px;margin:0 0 5px 0;}
.sign-in .week{color:#111;font-size:18px;}
.sign-in-h .week{ color:#111;font-size:18px;}
.sign-in .days,.sign-in-h .days{position:absolute;right:20px;top:10px;}
.sign-in .day{color:#555;font-size:14px;margin:0 0 3px 0;}
.sign-in .num{color:#5d84dc;font-size:20px;text-align:center;}
.sign-in-h .day{color:#555;font-size:16px;margin:0 0 3px 0;}
.sign-in-h .num{color:#fec240;font-size:20px;text-align:center;}
.sign-in .btn-sign,.sign-in-h .btn-sign-h{font-size:23px;position:absolute;left:119px;top:21px;display:block;outline:none;cursor:pointer;width:80px;text-align:center;}
.sign-in .btn-sign{ color:#5d84dc;}
.sign-in-h .btn-sign-h{color:#999;}

.sign-box{width:260px;padding:10px;background:#FFF;}
.sign-box h3{font-size:16px;color:#666;font-family:"微软雅黑";padding:0 0 10px 0;border-bottom:1px dotted #ddd;}
.sign-info{margin:10px 0 0 0;font-size:12px;}
.sign-wrap{position:absolute;top:70px;left:0;z-index:1;width: 100%;}
.sign-wrap .arrow-topic{left:110px;}


/*个人设置*/
.set-sub, .set-sub:hover, .set-sub:active, .set-sub:visited {background: #fc5241; border-color: #fc5241; color: white; padding: 6px 23px;}
.set-item-info .school1 {padding-bottom: 10px;}
.set-item-info .information1 {min-width: 81px; padding-right: 0;}

/* 内容页，右拉评论列表 */
.rightComment {width: 500px; height: 300px; position: absolute;}
.review1 p{ float:left; padding:0 10px; border-right:1px solid #D0D0D0;}
.review1 p a{ color:#7E7E7E;}
.review1{ border-bottom:1px dashed #C3C3C3; background-color: #fff; }
.review4 {background-color: #fff; border-top: 1px dashed #c3c3c3;}
.review2-right h6{ padding:0px; margin:0px; padding-top:13px; margin-left:3%;}
.review2-left{ float:left; width:7%;}
.review2-right{ float:left; width:93%;}
.review2-left img{ border:1px dashed #c3c3c3; border-top:none; border-right:none;}
.review2-right h6 span{ float:right; line-height:26px;}
.review2-right h6 span b{ font-weight:100; color:#CC0001;}
.review2{ overflow:hidden; overflow-y:scroll; overflow-x:hidden;table-layout: fixed;word-wrap:break-word;word-break:break-all;}
.review3-right{ margin-left:7%; width:93%; border-left:1px dashed #c3c3c3;background-color: #fff; border-bottom: 1px dashed #c3c3c3;}
.import-left{ float:left; margin-left:5%; padding-top:25px; width:20%;}
.import-right{ float:left; width:75%;margin-bottom: 15px;}
.import-left dl dt img{ padding:2px; border:1px solid #DEDEDE;}
.import-left dl dd a{ color:#494949;}
.import-left dl dd{ text-align:center;}
.import1{ margin-top:16px; width:90%;}
.import2{ background:#FC5241; border:1px solid #FC5241; float:right; margin-right:10%; margin-top:10px;}
.import-right p span{ margin-top:10px; display:inline-block;}
.new{ background:#F4F3F1; line-height:26px; padding:0 10px;}
.new h6{ line-height:27px; float:left; font-family:"微软雅黑"; font-size:20px;}
.new p{ float:left; line-height:24px; margin-top:10px; background:#FAFAFA; padding:0 2%; margin-left:3%; border:1px solid #DCDCDC;}
.new p a{ color:#848484;}
.new1{ border-bottom:1px dashed #C3C3C3; width:97%;}
.new1-left{ width:13%; margin-left:7%; float:left; padding-top:33px;}
.new1-right{ float:left; width:75%; margin-left:2%; padding-top:23px; font-family:"微软雅黑";}
.new1-left img{ padding:1px; border:1px solid #c3c3c3;}
.new1-right p{ line-height:27px;}
.manjusri{ color:#FD8400;}
.manjusri span{ color:#9D999A; padding-left:2%;}
.represent{ color:#343432;}
.minute a{ color:#323234;}
.minute p{ float:right; width:40%;}
.minute span{ margin-right:2%;}
.minute p b{ display:inline-block; padding:0 5%;}

/*表情栏*/
.talkBox{padding:0}
.talkPop{clear:left;margin-top:20px;margin-left:-25px;*margin-top:0px;position:absolute !important;}
.talkPop .bg{background:url(../image/layer_bg.png) repeat;border-radius:4px;padding:4px;}
.talkPop_arrow{background-position: -143px -4px;height:8px;width:15px;overflow:hidden}
.talkPop_box{background-color:#fff;border:solid 1px #dfdfdf;width:440px}
.talkPop_box .hd{height:30px;line-height:30px;background-color:#F8FAFC;padding:0 10px;position:relative;*width:420px}
.talkPop_box .close {font-size:14px; float:none;}
.talkPop_box .hd .ico-close{position: absolute;right:10px;top:6px}
.talkPop_box .faces_box{padding:0 5px 5px;overflow: hidden;*zoom:1}
.talkPop_box .faces_box a{display: block;float:left;margin: 5px 2px 0;}
.talkPop_box .faces_box img{display: block;}
.talkPop_box #weibo_close_handle{margin:0}
.talkPop_box #publish_type_content{}
.talkBox h2 {height:37px;overflow:hidden;margin-bottom:8px}
.talkBox h2 span{font-size: 18px;line-height: 42px;float:left}
.talkPop_box .pop_tit{background-color:#eee;padding:0 10px;border-radius:3px 3px 0 0;position:relative}
.wordNum{float:right;font-size:12px;color:#999}
.wordNum strong{font-family:Constantia,Georgia;font-size:30px;font-weight:normal;top:-1px;vertical-align:-2px}
.talkBox .cntBox {overflow:hidden;*zoom:1;padding:0 0 5px 0}
.talkBox .cntBox textarea,.talkBox .cntBox .txtShadow{padding:5px 0;margin:0;font-size:14px;overflow:hidden}
.txtShadow {left:0;opacity:0;position:absolute;top:0;*top:1px;z-index:-1}
.wrap-layer .arrow{background:url(../image/layer_arrow.png) no-repeat 0 0;display:block;overflow:hidden;position:absolute}
.wrap-layer .arrow-l, .wrap-layer .arrow-r{background-position: -11px -24px;height: 16px;right: -16px;top: 7px;width: 11px;_right:-15px;}
.wrap-layer .arrow-t, .wrap-layer .arrow-b{background-position: 0 -1px;height: 11px;left: 30px;top: -10px;width: 16px;_top:-10px}
.my-medal-list .wrap-layer .arrow-t{left:140px;top:-11px;_top:-10px;}
#face_card.wrap-layer .arrow-t{background-position: 0 -1px;height: 11px;left: 30px;top: -11px;width: 16px;_top:-10px}
#publish_type_content_before{_padding-top:8px}

.talkBox .funBox{position:relative;line-height:25px;z-index:800;*zoom:1}
.talkBox .funBox a.a52 {width:52px;display:inline-block;_display:block;_float:left;_margin-top:-9px}

/* 头部导航 */
button.nav_button {background: #fc5241;font-size: 14px; color: white; margin-top: 10px; font-family: 微软雅黑; padding: 4px 10px;}
button.nav_button:hover {color: white;}

/*登录页*/
.login_text {position: absolute; bottom: 38.5%; left: -100%; }
.yw-bottom .login-bottom-message{ line-height: 54px; color: white; font-size: 24px; margin-top: 165px; display: inline-block;}
.yw-bottom .login-bottom-message span {margin-right: 20px;}
.yw-bottom span b {color: #fb5240; font-weight: normal;}
.weibo-login, .qq-login {width:46px; height: 46px; display: inline-block; margin-right: 10px;position:relative;top:13px;}
.weibo-login {background: url(../image/weibo.png);}
.qq-login {background: url(../image/qq.png);}
.weibo-login:hover {background: url(../image/weibo-1.png);}
.qq-login:hover {background: url(../image/qq-1.png);}
.btn-main, .btn-main:hover {background: #fb5240; color: #fff;}
.md a {color:#fff; font-family:'微软雅黑';text-decoration: none;}

/*个人信息审核*/
.input-content .weiba-image-list {margin: 10px 0 0 0; overflow: hidden; border-left: #eee solid 1px; } 
.input-content .weiba-image-list li {background: #fff; border: 1px solid #eee; border-left: none 0; float: left; text-align: center; width: 126px; padding: 13px 0 5px; _width: 125px; } 
.attach-file .weiba-image-list li a.pic {position: relative; zoom: 1; overflow: hidden; } 
.attach-file .weiba-image-list li a.delete {text-align: center; display: block; padding: 3px 0 0 0; _padding: 5px 0 0; }

/*尾部*/
.gc-foot{ background:url(../image/footbg.jpg) repeat-x top center; height:233px;overflow: hidden;}
.gc-footlogo{ padding-top:52px;text-align: right;}
.gc-footlogo p a{ color:#fff;}
.gc-footlogo p{ color:#fff; font-size:12px; line-height:36px;font-family:"微软雅黑"; padding-right: 80px;}
.qing-foot{ padding-left:20px; background:url(../image/gc-footlogo.png) no-repeat left 54px; padding-right:5%; padding-top:59px;}
.copy{ font-size:12px; color:#c7c7c7; line-height:42px; text-align:center; margin-top: 25px;}
.qing-foot p{ font-family:"微软雅黑"; font-size:20px; color:#fff;}
.foot-icon{padding-top: 10px;}
.foot-icon a{ display:inline-block; width:36px; height:36px; margin-right:10px;}
.foot-icon1{ background:url(../image/foot-icon1.png) no-repeat;}
.foot-icon1:hover{ background:url(../image/foot-icon1h.png) no-repeat;}
.foot-icon2{ background:url(../image/foot-icon2.png) no-repeat;}
.foot-icon2:hover{ background:url(../image/foot-icon2h.png) no-repeat;}
.foot-icon3{ background:url(../image/foot-icon3.png) no-repeat;}
.foot-icon3:hover{ background:url(../image/foot-icon3h.png) no-repeat;}
.foot-icon4{ background:url(../image/foot-icon4.png) no-repeat;}
.foot-icon4:hover{ background:url(../image/foot-icon4h.png) no-repeat;}


/*右侧边栏*/
aside {padding-top: 35px; padding-right: 20%; padding-left: 5%;}
aside section p {font-size: 12px; color: #5c5c5c; line-height: 23px;}
aside section a.btn {padding: 4px; height: 39px;  margin-bottom: 13px; font-size: 14px; padding-left: 62px; text-align: left}
aside section a.btn-gray, aside section a.btn-gray:hover, aside section a.btn-gray:focus {padding: 10px; background: #e9e9e9; color: #717171; margin-top: 10px; text-align: center}
aside section a.btn-sina, aside section a.btn-sina:hover, aside section a.btn-sina:focus {background: #e65746; color: white;}
aside section a.btn-qq, aside section a.btn-qq:hover, aside section a.btn-qq:focus {background: #1576d7; color: white;}
aside section {border-top: 1px solid #eee; padding: 2px 4px 10px 4px;  }
aside #nosession  {border-top: none; padding: 0px;}
aside #follow_status {border-top: none; line-height: 32px; font-size: 14px;padding: 0; padding-bottom: 10px;}
aside #follow_status #follow_weiba {padding:5px 9px; background-color: #e65746; color: white; margin: 0px; height: 32px;}
aside #follower_count {color: #e65746; margin-left: 15px; margin-right: 5px;}
aside section header h4 {font-family: "微软雅黑"; font-size: 16px; color: #939393;}
aside section p[id$=topic] a {border: 1px solid #ccc; padding: 3px 10px; border-radius: 8px; font-size: 12px; margin:0px 10px 13px 0; color: #999;    display: inline-block;}
aside section p#parent_topic a:hover {background: #26866e; color: #fff; border:none;}
aside section p#child_topic a:hover {background: #e65746; color: #fff;border:none;}
aside section .dt_list {border-bottom: 1px solid #eee; padding: 10px 0;}

/*个人中心-未登录*/
.fish{ font-family:"微软雅黑"; font-size:22px; color:#282828; padding-left:15px;}
.points{ width:100%;}
.points dt{ width:100%; text-align:center;}
.points dt img{ border:1px solid #E5E5E5; padding:4px;}
.points dd{ color:#b6b6b6; font-size:16px; width:100%; line-height:30px; text-align:center; font-family:"微软雅黑";}
.points dd.spectrum{ border-bottom:1px dashed #DADADA;}
.add p a{ color:#b6b6b6;}
.add p{ float:left; padding:0px; padding-right:2%;}
.marketing{ color:#999; font-size:12px;}
.synopsis{ line-height:30px; color:#868686; padding-bottom:10px; font-size:12px;}
.marketing a{ color:#999; border:1px solid #DEDEDE; border-radius:11px; padding:0 6px; line-height:22px; margin-right:2%; display:inline-block;}
.marketing a:hover{ background:#89C734; color:#fff;}
.marketing{ margin-bottom:10px;}
.hei{ line-height:22px; border-bottom:1px solid #DEDEDE; padding-bottom:10px; margin-bottom:0px;}
.obtain{ color:#999; line-height:46px; font-size:12px;}
.tiwen2{ border-top:1px solid #DEDEDE;}
.riyu{ font-size:12px;}
.riyu1{ padding-bottom:8px; border-bottom:1px dashed #D8D8D8;}
.tiyu{ padding-top:10px;}
.nine{ font-size:12px; color:#fb5240;font-weight:bold;}
.obtain p{ padding-right:10px; float:left; margin:0px;}
.browse span{ font-weight:bold;}

.focussing p{ line-height:24px; font-size:12px; color:#5c5c5c; margin:0px;}
.registered1 a{ background:#E9E9E9; width:100%; display:block; line-height:39px; text-align:center; border-radius:5px; font-weight:bold; height:39px; font-size:14px; font-family:"宋体"; color:#717171;}
.registered{ margin-top:8px;}
.registered2{ background:#E65746; width:100%; display:block; line-height:39px; border-radius:5px; height:39px; font-size:14px; color:#fff; font-family:"宋体"; padding-left:22%;}
.registered3{ background:#1576D7; width:100%; display:block; line-height:39px; padding-left:22%; border-radius:5px; height:39px; font-size:14px; color:#fff; font-family:"宋体";}
.registered2 a{ font-size:14px; color:#fff; font-family:"宋体";}
.registered3 a{ font-size:14px; color:#fff; font-family:"宋体";}
.registered2 span{ margin-right:5px;}
.registered3 span{ margin-right:5px;}
.attentionto{ padding-top:17px; border-bottom:1px solid #EEEEEE;}
.attentionto p{ font-size:12px; float:left; line-height:24px; color:#999; padding-left:5%; padding-bottom:10px; margin:0px;}
.attentionto1{ width:30%; border-right:1px solid #eee;}
.attentionto p span{ font-weight:bold;}
.theme p{ font-size:14px; line-height:36px; padding-top:9px; font-weight:bold; color:#666; margin:0px;}
.theme p span{ color:#fb5240;}
.huati{min-height: 29px;}
.huati img{ margin-right:2%;width:14.5%;border-radius: 4px;min-height: 29px;}
.homepage2{ font-size:12px; color:#b1b1b1; font-family:"宋体"; line-height:30px; padding-top:10px;}


// 发私信
.textR {text-align: right; }
.user-list li .content {white-space: nowrap; margin: 0 30px 0 0; overflow: hidden; text-overflow: ellipsis; }
.s-textarea {resize: none; border: #dcdcdc solid 1px; border-top-color: #b5b5b5; padding: 4px 4px 0; overflow: hidden; overflow-y: auto; color: #333; line-height: 18px; }
.acts .image-block, .acts .file-block {position: relative; }
.acts .face-block, .acts .face-block:hover, .acts .image-block, .acts .image-block:hover, .acts .video-block, .acts .video-block:hover, .acts .file-block, .acts .file-block:hover, .acts .at-block, .acts .at-block:hover, .acts .topic-block, .acts .topic-block:hover, .acts .contribute-block, .acts .contribute-block:hover {overflow: hidden; display: inline-block; line-height: 14px; margin: 0 6px 0 0; color: #999; outline: none; _margin: 0 3px 0 0; }
.acts .image-block input, .acts .file-block input {position: absolute; right: -5px; top: -5px; outline: none; font-size: 16px; cursor: pointer; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
.acts .face, .acts .image, .acts .video, .acts .file, .acts .at, .acts .topic, .contribute {width: 16px; height: 16px; display: inline-block; cursor: pointer; margin: 0 3px 0 0; padding: 0; }
.acts .face, .acts .image, .acts .video, .acts .file, .acts .at, .acts .topic, .contribute {background: url(../image/icon.png) no-repeat 0 0;  vertical-align: middle; _background: url(../image/icon.gif) no-repeat 0 0; overflow: hidden; }
.acts .face-block .face {background-position: -31px -28px; _vertical-align: 1px; }
.acts .image-block .image {background-position: -31px -61px; _vertical-align: 1px; }
.acts .file-block .file {background-position: -31px -96px; _vertical-align: 1px; }
.acts .face-block:hover .face{background-position:0 -28px;}
.acts .image-block:hover .image{background-position:0 -61px;}
.acts .file-block:hover .file{background-position:0 -96px;}
a.ico-close, a.ico-close:hover, .ico-close1 {background: url(../image/del.png) no-repeat 0 0; width: 18px; height: 18px; display: inline-block; overflow: hidden; vertical-align: 0; _vertical-align: 2px; _background: url(../image/del.gif) no-repeat 0 0; }
/*@weight*/
.mod-at-wrap{position:absolute;z-index:10000;width:95%;margin:1px 0 0;background:#fff;_width:99.5%;}
#atUserList .mod-at{border:0;}
.mod-at{position:relative;z-index:99;background:#fff;border:1px solid #ddd;}
.mod-at-wrap .mod-at-tips{background:#F6F6F6;line-height:25px;padding:4px 6px;}
.mod-at-wrap .mod-at-list{overflow-y:auto;max-height:300px;_height:expression(this.scrollHeight > 300 ? "300px" : "auto");}
.mod-at-wrap .at-user-list li{padding:5px;overflow:hidden;cursor:pointer;*zoom:1}
.mod-at-wrap .at-user-list li:hover{background:#ECF2FF;cursor:pointer}
.mod-at-wrap .at-user-list .current, .mod-at-wrap .at-user-list .hover{background:#ECF2FF;cursor:pointer}
.mod-at-wrap .at-user-list li .face{float:left;margin:0 5px 0 0;}
.mod-at-wrap .at-user-list li .face img{vertical-align: top;}
.mod-at-wrap .at-user-list li .content{margin:0 0 0 30px}
.mod-at-wrap .at-user-list li .content a:hover{text-decoration:none;}
.mod-at-wrap .at-user-list li span{color:#999;padding:0 5px}
.user-list {padding;0px;margin:0px;}
.user-list dt{background:#F2F2F2;border-bottom:#e2e2e2 solid 1px;line-height:18px;padding:5px 10px;font-weight:700;color:#535353}
.user-list dt span{color:#999;font-weight:300}
.user-list dt em{color:#f60;font-weight:700;padding:0 3px}
.user-list ul{zoom:1;padding-bottom:0;}
.user-list li{position:relative;background:#F9F9F9;border-bottom:#e2e2e2 solid 1px;border-top:#fff solid 1px;width:390px;line-height:20px;padding:5px 10px;font-weight:700;color:#999;overflow: hidden;*zoom:1;_position:inherit}
.user-list li span{font-weight:300;color:#999;padding:0 10px}
.user-list li a.ico-close{position:static;}
.user-list li .content{white-space:nowrap;margin:0 30px 0 0;overflow: hidden;text-overflow:ellipsis;*width:300px;}
.choose-user span{display:inline-block;padding:5px 0 0}
.right{float:right;}

@media (min-width: 768px){ .toggle {display: none; } .information1{ text-align:right;}} 
@media (max-width: 768px){ .birthday,.school,.birthday1 {width:  100%;height: 34px;margin-bottom: 10px;} .nan,.nv {width: 30%;} .Interest-left,.confused-left{display: none;},}
input.error { border: 1px solid red; }
label.error {color: red;}






